<!-- linkAccount HTML Template start-->
<script id="linkAccount" type="text/template7">
    {{#each this}}
    <li class="item-content item-input">
        <div class="item-inner">
            <div class="item-title item-label">{{title}}</div>
            <div class="item-input-wrap">
                <input type="{{typeVal}}" name="{{nameValue}}" class="inputBox" id="{{idVal}}"
                placeholder="{{placeHolderData}}"/>
            </div>
        </div>
    </li>
    {{/each}}
</script>
<!-- linkAccount HTML Template end-->

<!-- vault button template start-->
<script id="homeButton" type="text/template7">
    {{#each this}}
    <div class="row home-button">
        <p class="grid grid-gap {{#if pClass}} {{pClass}} {{/if}}">
            <a {{#if url}} href="/{{url}}/" {{/if}} class=" col button button-fill button-round"  data-selector ="{{selector}}" {{#if onclickEvent}} onclick="{{onclickEvent}}(this)" {{/if}} id="{{id}}">{{title}}</a>
        </p>
    </div>
    {{/each}}
</script>
<!-- vault button template end-->

<!-- list view template for virtuallist.html start-->
<script id="listView" type="text/template7">
{{#each list}}
<li id="{{divId}}" {{#if liClass}} class={{liClass}} {{/if}} {{#if dataPopup}} data-popup="{{dataPopup}}" {{/if}} {{#if clickEvent}} onclick="{{clickEvent}}(this)" {{/if}} {{#if data}} data-value="{{data}}" {{/if}} {{#if dataName}} data-name ="{{dataName}}" {{/if}}>
    <a {{#if url}} href="/{{url}}/" {{/if}} class="{{class}}">
        <div class="item-inner">
            <div class="item-title-row">
                <div class="item-title"{{/if idValue}} id="{{idValue}}" {{/if}}>{{title}}</div>
            </div>
            <div class="item-subtitle" id="{{subTitleId}}">{{subTitle}}</div>
        </div>
    </a>
</li>
{{/each}}
</script>
<!-- list view template for virtuallist.html end-->
<!-- popup form template start -->
<script id="popupForm" type="text/template7">
    <form class="list list-strong-ios list-dividers-ios list-outline-ios" id="form-data">
        <ul>
          {{/if content}} {{content}} {{/if}}
          <li class="item-content item-input">
            <div class="item-media">
              <i class="icon demo-list-icon"></i>
            </div>
            <div class="item-inner">
              <div class="item-input-wrap">
                <button class="button button-fill" {{#if clickEvent}} onclick="{{clickEvent}}(this)" {{/if}}  id="{{btnId}}">{{btnName}}</button>
              </div>
            </div>
          </li>
        </ul>
      </form>
</script>
<!-- list view template for popup content end-->
<script id="formtemplate" type="text/template7">
    {{#each list}}
     <li class="item-content item-input">
        <div class="item-inner">
            <div class="item-title item-label">{{name}}</div>
            <div class="item-input-wrap">
                {{#if select}}
                <select placeholder="{{placeHolder}}" name="{{nameValue}}">
                    {{#each select}}
                    <option value="{{value}}">{{event_type}}</option>
                    {{/each}}
                </select>
                {{else}}
                <input type="{{type}}" placeholder="{{placeHolder}}" name="{{nameValue}}">
                <span class="input-clear-button"></span>
                {{/if}}
            </div>
        </div>
     </li>
    {{/each}}
</script>

<!-- left panel render  -->
<script id="leftPanelTemplate" type="text/template7">
{{#each list}}
<li {{#if class}} class="{{class}}" {{/if}} {{#if clickEvent}} onclick="{{clickEvent}}(this)" {{/if}} >
    <a>
    <div class="item-media">
        <i class="icon material-icons if-md">{{iconOne}}</i>
        <i class="icon f7-icons if-not-md">{{iconTwo}}</i>
    </div>
    <div class="item-inner">
        <div class="item-title">{{title}}</div>
    </div>
    </a>
</li>
{{/each}}
</script>
<!-- left panel render -->