<!-- linkAccount HTML Template start-->
<script id="linkAccount" type="text/template7">
    {{#each this}}
    <li class="item-content item-input">
        <div class="item-inner">
            <div class="item-title item-label">{{title}}</div>
            <div class="item-input-wrap">
                <input type="{{typeVal}}" name="{{nameValue}}" class="inputBox" id="{{idVal}}"
                placeholder="{{placeHolderData}}"/>
            </div>
        </div>
    </li>
    {{/each}}
</script>
<!-- linkAccount HTML Template end-->